In [1]:
import pandas as pd
import numpy as np

In [5]:
# Load the dataset
df = pd.read_csv(r"C:\Users\buset\Downloads\datset - Sheet1.csv")

In [7]:
df

,OrderID,Date,Region,CustomerName,Product,Quantity,UnitPrice,TotalSales,PaymentMethod
0,1001,2023-01-15,North,Alice Johnson,Laptop,2.0,700.0,1400.0,Credit Card
1,1002,2023-01-16,South,Rahul Mehta,Mobile Phone,5.0,300.0,1500.0,UPI
2,1003,2023-01-17,East,Fatima Noor,Headphones,10.0,50.0,500.0,Debit Card
3,1004,2023-01-18,West,NaN,Laptop,1.0,720.0,720.0,Credit Card
4,1005,2023-01-19,North,Zoe Carter,Mobile Phone,3.0,NaN,NaN,UPI
5,1006,2023-01-20,South,Ankit Tiwari,Keyboard,4.0,100.0,400.0,Wallet
6,1007,2023-01-21,East,Sarah Lee,Monitor,2.0,200.0,400.0,Credit Card
7,1008,2023-01-22,West,Daniel Smith,Laptop,NaN,680.0,NaN,Credit Card
8,1009,2023-01-23,North,Priya Nair,Mobile Phone,4.0,295.0,1180.0,UPI
9,1010,2023-01-24,South,Ramesh Iyer,Headphones,6.0,55.0,330.0,Debit Card
10,1011,2023-01-25,East,Maria Gonzalez,Laptop,1.0,710.0,710.0,Wallet
11,1012,2023-01-26,West,NaN,Monitor,2.0,210.0,420.0,Credit Card
12,1013,2023-01-27,North,Zoe Carter,Keyboard,3.0,95.0,285.0,Credit Card
13,1014,2023-01-28,South,Rahul Mehta,Laptop,2.0,700.0,1400.0,UPI
14,1015,2023-01-29,East,Fatima Noor,Mobile Phone,1.0,290.0,290.0,Wallet
15,1016,2023-01-30,West,Alice Johnson,Monitor,3.0,195.0,585.0,Credit Card
16,1017,2023-01-31,North,Daniel Smith,Tablet,2.0,450.0,900.0,UPI
17,1018,2023-02-01,South,Ankit Tiwari,Smart Watch,1.0,200.0,200.0,Wallet
18,1019,2023-02-02,East,Sarah Lee,Mobile Phone,2.0,310.0,620.0,UPI
19,1020,2023-02-03,West,Maria Gonzalez,Laptop,1.0,NaN,700.0,Credit Card

In [9]:
# Display initial info
print("\nInitial Data:")
print(df.head())

Initial Data:
   OrderID        Date Region   CustomerName       Product  Quantity  \
0     1001  2023-01-15  North  Alice Johnson        Laptop       2.0
1     1002  2023-01-16  South    Rahul Mehta  Mobile Phone       5.0
2     1003  2023-01-17   East    Fatima Noor    Headphones      10.0
3     1004  2023-01-18   West            NaN        Laptop       1.0
4     1005  2023-01-19  North     Zoe Carter  Mobile Phone       3.0

   UnitPrice  TotalSales PaymentMethod
0      700.0      1400.0   Credit Card
1      300.0      1500.0           UPI
2       50.0       500.0    Debit Card
3      720.0       720.0   Credit Card
4        NaN         NaN           UPI

In [11]:
# Step 2: Clean missing/null values
df_clean = df.dropna(subset=["Region", "Product", "Quantity", "UnitPrice", "TotalSales"])
print("\nAfter Dropping Rows with Null Values:")
print(df_clean.isnull().sum())

After Dropping Rows with Null Values:
OrderID          0
Date             0
Region           0
CustomerName     2
Product          0
Quantity         0
UnitPrice        0
TotalSales       0
PaymentMethod    0
dtype: int64

In [13]:
# Step 3: Sum of sales by region
sales_by_region = df_clean.groupby("Region")["TotalSales"].sum()
print("\nTotal Sales by Region:")
print(sales_by_region)

Total Sales by Region:
Region
East     2520.0
North    3765.0
South    3830.0
West     1725.0
Name: TotalSales, dtype: float64

In [15]:
# Step 4: Average sales per product
avg_sales_per_product = df_clean.groupby("Product")["TotalSales"].mean()
print("\nAverage Sales per Product:")
print(avg_sales_per_product)

Average Sales per Product:
Product
Headphones       415.000000
Keyboard         342.500000
Laptop          1057.500000
Mobile Phone     897.500000
Monitor          468.333333
Smart Watch      200.000000
Tablet           900.000000
Name: TotalSales, dtype: float64

In [17]:
# Step 5: Highest and lowest selling products
total_sales_per_product = df_clean.groupby("Product")["TotalSales"].sum()
highest_selling = total_sales_per_product.idxmax()
lowest_selling = total_sales_per_product.idxmin()

In [19]:
total_sales_per_product

Product
Headphones       830.0
Keyboard         685.0
Laptop          4230.0
Mobile Phone    3590.0
Monitor         1405.0
Smart Watch      200.0
Tablet           900.0
Name: TotalSales, dtype: float64

In [25]:
print("\nHighest Selling Product:", highest_selling)
print("Lowest Selling Product:", lowest_selling)

Highest Selling Product: Laptop
Lowest Selling Product: Smart Watch

In [27]:
# Step 6: NumPy statistics
print("\nNumPy Statistics:")
sales = df_clean["TotalSales"].values
print("Mean Total Sales:", np.mean(sales))
print("Median Total Sales:", np.median(sales))
print("Standard Deviation of Total Sales:", np.std(sales))

NumPy Statistics:
Mean Total Sales: 696.4705882352941
Median Total Sales: 585.0
Standard Deviation of Total Sales: 415.57460116680386